/target/scala-2.13/update/update_cache_2.13/inputs
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/_global/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedJars/_global/streams/export
/target/scala-2.13/classes/com/digitalmercator/model/Product$.class
/target/scala-2.13/classes/com/digitalmercator/model/Product.class
/target/scala-2.13/classes/com/digitalmercator/service/Checkout.class
/target/scala-2.13/classes/com/digitalmercator/Main$.class
/target/scala-2.13/classes/com/digitalmercator/Main.class
/target/scala-2.13/test-classes/com/digitalmercator/service/CheckoutTest.class
/.bsp/sbt.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_1_2_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_14_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_14_jar.xml
/.idea/libraries/sbt__org_scalactic_scalactic_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_core_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_diagrams_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_featurespec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_flatspec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_freespec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funspec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funsuite_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_propspec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_refspec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_wordspec_2_13_3_3_0_SNAP3_jar.xml
/.idea/libraries/sbt__scala_sdk_2_13_14.xml
/.idea/modules/exercise.iml
/.idea/modules/exercise-build.iml
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/vcs.xml
/project/target/config-classes/$7f83b8cac06a37c50544$.class
/project/target/config-classes/$7f83b8cac06a37c50544.cache
/project/target/config-classes/$7f83b8cac06a37c50544.class
/project/target/config-classes/$9f05974843ad0b3ba75f$.class
/project/target/config-classes/$9f05974843ad0b3ba75f.cache
/project/target/config-classes/$9f05974843ad0b3ba75f.class
/project/target/config-classes/$45e9236aced9f3c6bb83$.class
/project/target/config-classes/$45e9236aced9f3c6bb83.cache
/project/target/config-classes/$45e9236aced9f3c6bb83.class
/project/target/config-classes/$75661c14df7c08a65484$.class
/project/target/config-classes/$75661c14df7c08a65484.cache
/project/target/config-classes/$75661c14df7c08a65484.class
/project/target/config-classes/$ab04116900cc9c308a24$.class
/project/target/config-classes/$ab04116900cc9c308a24.cache
/project/target/config-classes/$ab04116900cc9c308a24.class
/project/target/scala-2.12/sbt-1.0/sync/copy-resource
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/_global/_global/compileOutputs/previous
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/project/build.properties
